@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html{
    background-color: #d7e1ec;
}
.intro{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.btn-contain {
    margin: 5% auto;
    min-height: 100px;
  }
  .btn-underline-contain {
    max-width: 270px;
    margin: 0 auto;
  }
  .btn-underline {
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
    text-align: center;
    color: black;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
    transition: .3s;
    display:block;
    position:relative;
  }
  .btn-underline:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    bottom: 0;
    height: 3px;
    background: white;
    left: 0;
  }
  .btn-underline:hover:after {
    width: 100%;
    left: 0;
    background: #ff7d52;
  }
  .btn-underline:hover {
      border: 2px solid #ffac91;
    -moz-border-image: -moz-linear-gradient(top , #ffac91 0%, #ff7d52 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #ffac91 0%, #ff7d52 100%);
    border-image: linear-gradient(to bottom, #ffac91 0%, #ff7d52 100%);
    border-image-slice: 1;
  }
  .btn-underline span {
      font-weight: bold;
  }
  .btn-underline:hover span {
    color: #ff7d52;
  }

  .btn-contain {
    margin: 5% auto;
    min-height: 100px;
  }
  .btn-underline-contain {
    max-width: 270px;
    margin: 0 auto;
  }
  .btn-underline {
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
    text-align: center;
    color: black;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
    transition: .3s;
    display:block;
    position:relative;
  }
  .btn-underline:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    bottom: 0;
    height: 3px;
    background: white;
    left: 0;
  }
  .btn-underline:hover:after {
    width: 100%;
    left: 0;
    background: #ff7d52;
  }
  .btn-underline:hover {
      border: 2px solid #ffac91;
    -moz-border-image: -moz-linear-gradient(top , #ffac91 0%, #ff7d52 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #ffac91 0%, #ff7d52 100%);
    border-image: linear-gradient(to bottom, #ffac91 0%, #ff7d52 100%);
    border-image-slice: 1;
  }
  .btn-underline span {
      font-weight: bold;
  }
  .btn-underline:hover span {
    color: #ff7d52;
  }

  .btn-contain {
    margin: 5% auto;
    min-height: 100px;
  }
  .btn-underline-contain {
    max-width: 270px;
    margin: 0 auto;
  }
  .btn-underline {
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
    text-align: center;
    color: black;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
    transition: .3s;
    display:block;
    position:relative;
  }
  .btn-underline:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    bottom: 0;
    height: 3px;
    background: white;
    left: 0;
  }
  .btn-underline:hover:after {
    width: 100%;
    left: 0;
    background: #ff7d52;
  }
  .btn-underline:hover {
      border: 2px solid #ffac91;
    -moz-border-image: -moz-linear-gradient(top , #ffac91 0%, #ff7d52 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #ffac91 0%, #ff7d52 100%);
    border-image: linear-gradient(to bottom, #ffac91 0%, #ff7d52 100%);
    border-image-slice: 1;
  }
  .btn-underline span {
      font-weight: bold;
  }
  .btn-underline:hover span {
    color: #ff7d52;
  }

  .btn-contain {
    margin: 5% auto;
    min-height: 100px;
  }
  .btn-underline-contain {
    max-width: 270px;
    margin: 0 auto;
  }
  .btn-underline {
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
    text-align: center;
    color: black;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
    transition: .3s;
    display:block;
    position:relative;
  }
  .btn-underline:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    bottom: 0;
    height: 3px;
    background: white;
    left: 0;
  }
  .btn-underline:hover:after {
    width: 100%;
    left: 0;
    background: #ff7d52;
  }
  .btn-underline:hover {
      border: 2px solid #ffac91;
    -moz-border-image: -moz-linear-gradient(top , #ffac91 0%, #ff7d52 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #ffac91 0%, #ff7d52 100%);
    border-image: linear-gradient(to bottom, #ffac91 0%, #ff7d52 100%);
    border-image-slice: 1;
  }
  .btn-underline span {
      font-weight: bold;
  }
  .btn-underline:hover span {
    color: #ff7d52;
  }

  
  